<div class="container">
    <h1 class="text text-danger">Order successfully</h1>
<img src="{{lego.image}}" width="200" height="200" alt="">
<h3>Toy name: {{lego.name}}</h3>
<h3>Order quantity: {{quantity}}</h3>
<h3>Price: {{lego.price}}</h3>
<h3>Total money: {{total}}$</h3>
</div>